.dark-background{
    -fx-background-color: black;
}

.border-bottom{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;
}

.bottom{
    -fx-background-color: #1C90E4;
    -fx-background-radius: 50;
}

.gradient{
    -fx-background-color: linear-gradient(to top, #676767, transparent);
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10 , 0 , 0 ,10);
}

